.genrePage{
    display: grid;
    grid-template-columns: 25% auto;
}

.genreSideBar{
    display: grid;
    grid-template-rows: max-content;
    padding: 13px;
    row-gap: 10px;
    
}

.genreBox{
    
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -1px;
}

.genreTitle{
    padding-left: 15px;
    padding-top: 3px;
}

.genreButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 9px 9px;
    /* justify-content: space-evenly; */
    padding: 10px;
}

a.genrePill{
    border-radius: 20px;
}


#sortbyButton{
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -1px;
    text-align: left;
    font-weight: 500;
    --bs-btn-hover-color: none; 
    --bs-btn-hover-bg: none;
}

#dropdownFilters{
    width: 75%;
    height: 80px;
    padding: 0px;
}

div.dropdown-header{
    padding: 7px;
}

.selectBox{
    padding-left: 7px;
}

a{
    text-decoration: none;
}

select#filters{
    width: 80%;
    height: 30px;
    background-color: #e4e7eb;
    border-radius: 8px;
    border-color: #e4e7eb;
}

.genreResults{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4px 2px;
    margin: 6px;
}

@media screen and (max-width: 760px){
    .genrePage{
        display: flex;
        flex-direction: column;
    }
 
}

