*{
    margin: 0px;
    padding: 0px;
}



.upperDet{
    display: flex;
    justify-content: space-evenly;    
}

#poster{
    width: 362px;
    height: 426px;
    margin-top: 5px;
}

.upperdetails{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: space-between;
    border: 2px dashed yellow;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
}

div #title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 35px;
    margin: 5px 0px;
}

#subh{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

#plot{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    border-left: 3px solid yellow;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#plotline{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    text-indent: 50px;
}

.castImgs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 10px 0px 10px 10px;
    gap: 5px;
    overflow-x: scroll;
    
}

img{
    flex-basis: 150px;
    height: 200px;
    border-radius: 8px;
}

p#name{
    font-weight: 600;
    position: relative;
    left: 3px;
    font-size: medium;
}





