div .trendingMovies{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
    padding: 3px;
    margin-left: 20px;
}

.trendingMain{
    background-image: url("C:\New folder\movie_search\Screenshot 2024-05-14 175139.png");
  }
  
#trendingTag{
    font-family: "Poppins",sans-serif;
    font-size: 22px;
    font-weight: 500;
    /* margin: 5px; */
    padding-left:20px;
    padding-top: 10px;
  
}
  
  

.trendingMovies img{
    border:1px solid black;
    width: 150px;
    height: 220px;
    border-radius: 8px;
}