*{
  /* background-color: #000; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* display: flex; */
  
}



.mainimg{
  background-color: white;
  background-image: url("C:\New folder\movie_search\edited.png"); 
  background-size: contain ;
  background-position-x: 580px;
  /* background-position-y: -30px; */
  background-repeat: no-repeat;
  height: 500px;
  border-bottom: 1px dashed black;
}

.header2 div{ 
  display: flex;
  font-size:50px ;
  margin-left: 40px;
}

#s2{
  margin-bottom: 30px;
}

#se{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.719);
  font-family: "PlayFair Display";
  font-style: italic;
  
}

.line{
  margin-left: 40px;
  font-size: larger;
  font-family: "PlayFair Display";
  
  
}

.header2{
  color: rgba(0, 0, 0, 0.719);
  position:relative;
  top: 10px;
  font-family: "PlayFair Display";
  font-style: normal;
  margin-top: 80px;
}

#dot{
  color: #9c5c07;
}


.header1 #ms1{
  color: #9c5c07;
  text-align: center;
  font-size: 65px;
  font-family:"PlayFair Display";
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}



.search{
  position: relative;
  display: flex;
  margin: 0px 0px 30px 20px;
  top: 30px;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  position: relative;
  right: 30px;
  
}

::placeholder{
  color:  #f9d251;
  
}
.search #st{
  font-family: "PlayFair Display";
  font-size: 17px;
  color: #c38b15;
  margin-left: 150px;
}

.search input{
    width: 300px;
    height: 40px;
    background-color: #f1e6bd;
    border-radius: 10px;
    /* border: 2px solid #3c3c2e; */
    border:2px solid grey;
    margin-left: 5px;
    font-family: "Lato";
    
}

.search input:focus{
  border: 1.5px solid #080808;
  box-shadow: 10px 10px  15px #4b300f;
}



.imgbody{
  background-color: #f2f2f2;
  padding: 5px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  /* justify-content: space-around; */
}


img{
  
  height: 250px;
  /* border: 1px solid #4d4444; */
  border-radius: 4px;
  padding-left: 15px;
  margin: 2px 20px 20px;
  width: 200px;
}

.pages{
  display: flex;
  justify-content: center;
}

.pagination{
  
  display: flex;
  justify-content: center;
  margin:4px;
  padding: 2px;
}

.pagiantion #searchbox{
  margin: 10px;
}






