*{
  /* background-color: #000; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}



.mainimg{
  background-color: white;
  background-image: url("C:\New folder\movie_search\edited.png"); 
  background-size: contain ;
  background-position-x: 580px;
  /* background-position-y: -30px; */
  background-repeat: no-repeat;
  height: 500px;
  border-bottom: 1px dashed black;
}

.header2 div{ 
  display: flex;
  font-size:50px ;
  margin-left: 40px;
}

#s2{
  margin-bottom: 30px;
}

#se{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.719);
  font-family: "Poppins";
  font-style: italic;
  
}

.line{
  margin-left: 40px;
  font-size: larger;
  font-family: "Popppins";
  
  
}

.header2{
  color: rgba(0, 0, 0, 0.719);
  position:relative;
  top: 10px;
  font-family: "Poppins";
  font-style: normal;
  margin-top: 80px;
}

#dot{
  color: #9c5c07;
}


.header1 #ms1{
  color: #9c5c07;
  text-align: center;
  font-size: 65px;
  font-family:"Poppins";
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}



.search {
  position: relative;
  margin: 5px;  
  text-align: center
}

::placeholder{
  color:  #0b0b0aa6;
  font-family: "Poppins";
  margin-left: 5px;
}


.search input{
    width: 50%;
    height: 45px;
    background-color: #f1e6bd;
    border-radius: 10px;
    /* border: 2px solid #3c3c2e; */
    border:2px solid grey;
    margin-left: 5px;
    font-family: "Poppins";
    
}

.search input:focus{
  border: 1.5px solid #080808;
  box-shadow: 3px 3px  10px #4b300f;
}

.material-symbols-outlined{
  /* font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 */
  color: rgb(190, 150, 21);
  /* background-color: #000000; */
  position: absolute;
  bottom: 3px;
  right: 318px;
  font-size: 40px;

}

button{
  border: none;
}

.imgbody{
  background-color: #f2f2f2;
  padding: 5px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  /* justify-content: space-around; */
}

.favicon{
  position: relative;
  bottom: 20px;
  left: 120px;
}



.img img{
  height: 250px;
  /* border: 1px solid #4d4444; */
  border-radius: 5px ;
  padding-left: 2px;
  margin: 2px 20px 20px;
  width: 200px;
  position: relative;
}

.pages{
  display: flex;
  justify-content: center;
}

.pagination{
  
  display: flex;
  justify-content: center;
  margin:4px;
  padding: 2px;
}

.pagiantion #searchbox{
  margin: 10px;
}






